body {
    margin: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

#nav-mobile {
    width: 100%;
    display: none;
}

#nav-photo {
    display: none;
}

/***COLONNE DE GAUCHE ****************/

#col_gauche { 
    order: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #90CAF9;
    box-sizing: border-box;
    width: 35%;
    padding: 40px;
}

/**************** encart photo **************/

#photo {
    margin: 40px;
    text-align: center;
}

img {
    width: 75%;
    border-radius: 50%;
    text-align: center;
}

#nav-photo a span, #photo a span {
    display: none;
}

/***************** titre des sections  ************/
#col_gauche h2 {
    background-color: #004D40;
    color: #90CAF9;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-right: -40px;
    margin-left: -40px;
}

/****************** contenu des sections ************/

.contenu {
    padding-top: 10px;
    padding-bottom: 15px;
}

/**************** section contact *******************/

#contact p:nth-of-type(2n) {
    margin-bottom: 15px;
}

#contact .inline {
    display: inline;
}

/*****************section loisirs********************/

#loisirs {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

#loisirs h2 {
    margin-right: 0;
    margin-left: 0;
}

 #loisirs .contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 #loisirs i.fas {
     font-size: 3rem;
 }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/***COLONNE DE DROITE ****************/

#col_droite {
    order: 2;
    box-sizing: border-box;
    width: 65%;
    padding: 40px;
    padding-left: 50px;
}

#col_droite h2 {
    text-transform: uppercase;
    color: #004D40;
    padding-bottom: 10px;
    border-bottom: 2px solid #90CAF9;
}

#col-droite a,
#experience h3,
#experience p {
    display: inline-block;
}

#experience p {
    margin: 0.5em 0;
}

#col_droite h2 i {
    color: #90CAF9;
}

/*******************titre**********************/

#header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    border-bottom: none;
}

#header h1 span {
    font-weight: 400;
    color: #90CAF9
}

#header h2 {
    color: black;
    text-transform: capitalize;
    border-bottom: none;
}

#header h2 span {
    border-bottom: 1px solid #90CAF9;
}

#header {
    margin-bottom: 140px;
}

i.fas.fa-globe {
    margin-left: 5px;
    font-size: 1rem;
}

/********************* sous-section ****************/

.description {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.uppercase {     
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*************** dates(colonne de gauche) ****************/

.date {
    display: flex;
    flex-direction: row;
    flex-basis: 35%;
    font-weight: 600;
}

.date i {
    color: #90CAF9;
    margin-top: 21px;
    margin-right: 5px;
}

.bullet .fa-record-vinyl {
    font-size: 0.8rem;
}

.bullet .fa-circle {
    font-size: 0.5rem;
}

/*************** détails(colonne de droite) ****************/

.detail {
    flex-basis: 65%;
}

.detail a {
    text-decoration: none;
    color: black;
}

.detail a:hover {
    color: #90CAF9;
}

/****************** recommandations **************/

.reco_description {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

address {
    font-style: normal;
    flex-basis: 50%;
}

address a {
    display: block;
}

address p {
    margin: 0;
}

@media (max-width: 875px) {
    body {
        display: block;
    }

    #col_droite, #col_gauche {
        width: 100%;
    }

    header.titres {
        margin-right: 20px;
    }

    #header {
        display: flex;
        margin-bottom: 25px;
    }

    nav {
        margin-bottom: 35px;
    }

    nav a {
        text-decoration: none;
    }

    nav li {
        list-style-type: none;
        margin-bottom: 5px;
        font-size: 1.2rem;
    }

    nav i {
        margin-right: 5px;
    }

    nav a:link {
        color: #90CAF9;
    }

    nav a:visited {
        color: #004D40;
    }


    #nav-photo {
        text-align: center;
    }

    #nav-photo img {
        position: relative;
        margin-top: 15px;
        width: 115px;
    }

    #header h1 {
        font-size: 1.7rem;
    }

    #nav-mobile, #nav-photo {
        display: block;
    }

    #loisirs i.fas {
        font-size: 2rem;
    }

    #photo {
        display: none;
    }

    #col_gauche { 
        padding: 0 15px;
        font-size: 0.8rem;
    }

    #col_gauche h2{ 
        font-size: 1.1rem;
        margin-right: -15px;
        margin-left: -15px;
    }

    #col_gauche p{
        max-width: 100%;
    }

    #a_propos {
        margin-bottom: 40px;
    }

    #loisirs {
        position: relative;
        width: 100%;
    }

    #col_droite {
        padding: 15px;
        padding-left: 20px;
    }

    #col_droite h2 {
        font-size: 1.1rem;
    }

    #col_droite h3, p, address {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }
}